<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.epsilon.eol.dt.launchConfigurationExtension">
      <launchConfigurationExtension
            listener="org.eclipse.epsilon.loading.XminModelLoader"></launchConfigurationExtension>
   </extension>
   <extension
         point="org.eclipse.epsilon.common.dt.modelType">
      <modelType
            class="org.eclipse.epsilon.effectivemetamodel.XMIN"
            dialog="org.eclipse.epsilon.loading.XminModelConfigurationDialog"
            icon="icons/XMIN.png"
            label="XMIN Model"
            stable="true"
            type="XMIN">
      </modelType>
   </extension>
   <extension
         point="org.eclipse.epsilon.common.dt.modelType">
      <modelType
            class="org.eclipse.epsilon.emc.emfmysql.EmfMySqlModel"
            dialog="org.eclipse.epsilon.loading.EmfMySqlModelConfigurationDialog"
            icon="icons/EmfMySqlModel.png"
            label="EMFMySQL Database"
            type="EmfSql">
      </modelType>
   </extension>
   <extension
         point="org.eclipse.epsilon.common.dt.modelType">
      <modelType
            class="org.eclipse.epsilon.effectivemetamodel.neoemf.NeoEMF"
            icon="icons/XMIN.png"
            label="Neo4j"
            type="Neo4j">
      </modelType>
   </extension>

</plugin>
